<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/headerLogado') %>
    </header>
    <div class="container">
        <h1 class="text-center my-4">Editar dados </h1>
        <form action="/update-consulta/<%= infos[0].id %>" method="POST">
            <div class="form-group">
                <label>Data</label>
                <input type="date" name="data" value="<%= data %>"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Hora</label>
                <input type="time" name="hora" value="<%= infos[0].hora %>" class="form-control">
            </div>
            <div class="form-group">
                <label>Médico</label>
                <input type="text" name="medico" value="<%= infos[0].medico %>" class="form-control">
            </div>
            <div class="form-group">
                <label>Paciente</label>
                <input type="text" name="paciente" value="<%= infos[0].paciente%>" class="form-control">
            </div>
            <div class="form-group">
                <label>Especialidade</label>
                <input type="text" name="especialidade" value="<%= infos[0].especialidade %>" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

</body>

</html>